body {
  background-color: #505050;
}

.App {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25px, 150px));
  grid-template-rows: repeat(auto-fill, minmax(25px, 150px));
  height: 50em;
  grid-gap: 5px;
 
}

button {
  font-size: 2em;
  transition: transform 5ms;
  border: 0px;
  border-radius: 5px;
}

button:hover {
  transition-duration: 100ms;
  transform: scale(1.1);
}

p {
  grid-column: 2/4;
  text-align: center;
  background-color: #FFFFFF;
  font-size: 2em;
  border-radius: 5px;
  
  
  
}
 