body {
  background-color: #505050;
}

.App {
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-top: 1%;
  padding-left: 25%;
  padding-right: 25%;


}

button {
  height: 150px ;
  font-size: 30px;
  border-radius: 20px;
  border: 0px;
  margin: 5px;
  
}

button:hover {
  transition-duration: 100ms;
  transform: scale(1.1);
}

p {
  grid-column: 2/4;
  text-align: center;
  background-color: #FFFFFF;
  font-size: 30px;
  height: 2em;
  border-radius: 20px;
  margin-top: 5px;
}

